@charset "utf-8";
/* CSS Document */

#header-language{margin-top:5px;}
#header-platform{float:right; margin-top:-38px;}

#content{
	margin-top:20px;
}
.logo{width:300px; margin-bottom:20px;}

#about{width:100%;}
#about, p{text-align:justify;}

.bt{
	background-color:#fff;
	border:transparent 1px solid; border-radius:3px;
	transition:0.2s all;
	cursor:pointer;
	outline:none !important;
}
.bt-view{width:100%; height:35px; margin-top:8px;}
.bt-download{
	width:100%; height:50px;
}
.bt-php-version{border-color:#70C8FC; color:#70C8FC;}
.bt-view-php-version{background-color:#70C8FC; color:#fff;}
.bt-node-version{border-color:#00BF00; color:#00BF00;}
.bt-view-node-version{background-color:#00BF00; color:#fff;}

.text-span{
	font-size:21px; font-style:italic;
}

.credits{margin-bottom:20px; display:block;}


@media screen and (min-width: 600px){
	#content{margin-top:0px;}
	.logo{width:350px;}
}

@media screen and (min-width: 800px){
	#about{
		width:580px;
		position:relative;
		left:50%; margin-left:-290px;
		margin-top:15px;
	}
	.bt-download{width:580px;}
	.bt-download{margin-left:4px;}
	.bt-view{width:400px;}
}
